<h1>Cats</h1>

<ul>
  <% @cats.each do |cat| %>
    <li><%= cat.name %> is a <%= cat.color %> cat.</li>
    <%= link_to 'Cat profile', "/cats/#{cat.id}" %>
    <%= button_to "delete", "/cats/#{cat.id}", method: :delete %>
    <br>
  <% end %>
</ul>
<%= button_to "Rent a cat", new_cat_rental_request_url , method: :get%>
<%= button_to "Add a cat", "/cats/new" , method: :get%>

<br />
<img src="http://www.cutecatgifs.com/wp-content/uploads/2015/07/Cat-slots.gif">
